@import "tailwindcss" layer(base);


:root {
  --color-surface-1: #ffffff;
  --color-surface-2: #f3f4f6;
  --color-text-1: #1f2937;
}

.dark {
  --color-surface-1: #111827;
  --color-surface-2: #1f2937;
  --color-text-1: #f3f4f6;
}

@layer base {
  html {
    background: var(--color-surface-1);
    color: var(--color-text-1);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  body {
    background: var(--color-surface-1);
    color: var(--color-text-1);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 100px;
    padding: 20px;
  }                                         
}